@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-orange {
    -webkit-text-stroke: 2px #ff6341;
  }

  .font-outline-gray {
    -webkit-text-stroke: 2px #142039;
  }

  .font-outline-green {
    -webkit-text-stroke: 2px #27ae60;
  }

  .font-outline-yellow {
    -webkit-text-stroke: 8px darkgoldenrod;
  }
}