@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #142039;
  }

  .font-outline-4 {
    -webkit-text-stroke: 0.5px #ff6341;
  }
}

/*Animações*/
[data-anime] {
  opacity: 0;
  transition: 1.0s;
}

[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}

[data-anime="down"] {
  transform: translate3d(0, -100%, 0);
}

[data-anime="left"] {
  transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="blur"] {
  transition: all 1.0s cubic-bezier(.71, 0, .33, 1.56)
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}



.custom-img {
  background-image: none;
}

.custom-img.lazy-loaded {
  background-image: url("/backgrounds/bg6-insurances.webp");
}


@keyframes blink-border {

  0%,
  100% {
    border: 4px solid #ff6341;
  }

  50% {
    border: 4px solid transparent;
  }
}

.animate-blink-border {
  animation: blink-border 1.5s 3;
}